<h1>{{message}}</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{car.make}}</td>
      <td>{{car.model}}</td>
      <td>{{car.year}}</td>
      <td>{{car.color}}</td>
      <td>{{car.price}}</td>
    </tr>
  </tbody>
</table>

<form [formGroup]="carForm">

  <div>
    <label for="make-input">Make:</label>
    <input type="text" id="makeInput" formControlName="make">
  </div>

  <div>
    <label for="model-input">Model:</label>
    <input type="text" id="modelInput" formControlName="model">
  </div>

  <div>
    <label for="year-input">Year:</label>
    <input type="number" id="yearInput" formControlName="year">
  </div>

  <div>
    <label for="color-input">Color:</label>
    <input type="text" id="colorInput" formControlName="color">
  </div>

  <div>
    <label for="price-input">Price:</label>
    <input type="number" id="priceInput" formControlName="price">
  </div>

  <button type="button" (click)="addCar()">Add Car</button>

</form>
